body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h2 {
    color: black;
}

form {

    background-color: white;;
    border-radius: 8px;
    padding: 25px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: darkgreen;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

input.invalid{
    border-color: red;
    background-color: mistyrose;
}